@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-everything($flex: true);

@import '../config';

$primary-orange: #fa4616;

body {
  background: $bg-color;
}

.app-main {
  p, h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
    padding: 1rem;
  }
  .heading {
    padding: 1rem 0;
    font-family: 'Domine', serif;
  }

  .button {
    background-color: white;
    border-color: $primary-orange;
    color: $primary-orange;
    text-transform: uppercase;
    &:hover {
      color: white;
      background-color: $primary-orange;
    }
  }
}
